* {
	margin: 0;
	box-sizing: border-box;
	margin-block-end: 5px;
}

body {
	text-align: center;
	width: 50vh;
	margin: auto;
	border: 1px solid gray;
	padding: 10px;
}

h1 {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
		'Lucida Sans', Arial, sans-serif;
}
.container {
	width: 100%;
}

#img {
	margin: auto;
}
